<!DOCTYPE html>
   <head>
      <title>{{ title }}</title>
   
      <style>
         .right {
            text-align: right;
         }
      </style>
   </head>

   <body>
      <div class="right">
         <a href="{{ url_for('Port1') }}"><img src="/static/img/600px-Xbox_one_logo.svg.png" width="175" height="175" /></a> <br />
         <a href="{{ url_for('Port2') }}"><img src="/static/img/ps4.jpg" width="175" height="175"/></a> <br />
         <a href="{{ url_for('Port3') }}"><img src="/static/img/Amazon-Fire-TV-Logo.png" width="175" height="175"/></a> <br />
         <a href="{{ url_for('Port4') }}"><img src="/static/img/retropie.png" width="175" height="175" /></a> <br />
         <a href="{{ url_for('Port5') }}"><img src="/static/img/nintendo switch.jpg" width="175" height="175" /></a> <br />
         <a href="{{ url_for('restart') }}"><img src="/static/img/reset.png" width="175" height="175" /></a> <br />
         <a href="{{ url_for('shutdown') }}"><img src="/static/img/power.jpg" width="175" height="175" /></a> <br />
      </div>
   </body>
</html>